html,
body {
  font-family: "Montserrat", sans-serif;
  background: #000;
  color: #f5f5f5;
}

#header {
  padding: 10px 0;
}
#header .navbar-brand {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#header .navbar .nav-item {
  font-size: 15px;
  color: #cccaca;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
#header .navbar .nav-item.message {
  font-size: 18px;
  transition: all 0.3s ease;
}
#header .navbar .nav-item.message a {
  color: #fff;
}
#header .navbar .nav-item.message:hover {
  transform: scale(1.2);
}
#header .navbar .nav-item .nav-link {
  padding: 5px 10px;
}

#main {
  height: calc(100vh - 80px);
  overflow: hidden;
}

#footer {
  display: none;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
#footer p {
  margin: 0;
}

#homepage {
  position: relative;
  height: calc(100vh - 75px);
  overflow: visible;
}
#homepage .hero {
  height: 100%;
  display: flex;
  align-items: center;
}
#homepage .hero .introduction {
  margin-top: -100px;
  z-index: 10;
  position: relative;
}
#homepage .hero .introduction .title {
  font-size: 75px;
  line-height: 1.1;
  font-weight: 700;
}
#homepage .hero .introduction .description {
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #cccaca;
}
#homepage .hero .introduction .description small {
  font-size: 14px;
  color: #9c9c9c;
  display: inline-block;
  margin-top: 10px;
  line-height: 1.7;
}
#homepage .homepage-photo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(/images/photo.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  z-index: 5;
}
#homepage .footer-cta {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 10;
}
#homepage .footer-cta .latests .title {
  font-size: 12px;
  text-transform: uppercase;
  color: #c0c0c0;
}
#homepage .footer-cta .latests .post-title {
  font-size: 16px;
  color: #fff;
}
#homepage .footer-cta .latests .post-title a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
#homepage .footer-cta .latests .post-title a:hover {
  color: #c0c0c0;
  border-left: 5px solid #0057ff;
  padding-left: 10px;
}
#homepage .footer-cta .contact {
  position: fixed;
  bottom: -15px;
  right: 0;
}
#homepage .footer-cta .contact-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#homepage .footer-cta .contact-row li {
  font-size: 20px;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  display: flex;
  align-items: center;
}
#homepage .footer-cta .contact-row li a {
  display: inline-block;
  padding: 10px 25px;
  transition: all 0.3s ease;
  color: #000;
  text-decoration: none;
}
#homepage .footer-cta .contact-row li.youtube, #homepage .footer-cta .contact-row li.instagram {
  font-size: 25px;
}
#homepage .footer-cta .contact-row li.youtube a, #homepage .footer-cta .contact-row li.instagram a {
  color: #fff;
}
#homepage .footer-cta .contact-row li.youtube {
  background-color: #FF0000;
}
#homepage .footer-cta .contact-row li.instagram {
  background-color: #0f5fff;
}
#homepage .footer-cta .contact-row li.cta {
  min-width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#homepage .footer-cta .contact-row li.cta svg {
  transition: all 0.3s ease;
  margin-top: -3px;
}
#homepage .footer-cta .contact-row li.cta svg path {
  stroke: currentColor;
  stroke-width: 0.5;
}
#homepage .footer-cta .contact-row li.cta:hover svg {
  margin-left: 25px !important;
}

/* RESPONSIVE 1*/
@media (max-width: 1198px) {
  #homepage .homepage-photo {
    width: 80%;
    right: -200px;
  }
}
/* TABLET */
@media (max-width: 991px) {
  #homepage {
    overflow: visible;
  }
  #homepage .hero .introduction .title {
    font-size: 50px;
  }
  #homepage .hero .introduction .description {
    font-size: 16px;
  }
  #homepage .hero .introduction .description small {
    font-size: 12px;
  }
  #homepage .homepage-photo {
    width: 110%;
    height: 100%;
    background-size: 100% auto;
    background-position: bottom right;
    right: -280px;
    bottom: 0;
  }
  #homepage .footer-cta {
    position: fixed;
    bottom: 0;
    left: 20px;
  }
  #homepage .footer-cta .latests .title {
    font-size: 10px;
  }
  #homepage .footer-cta .latests .post-title {
    font-size: 14px;
  }
  #homepage .footer-cta .contact li {
    font-size: 18px;
    height: 50px;
  }
  #homepage .footer-cta .contact li.cta {
    min-width: 200px;
    font-size: 16px;
  }
}
/* MOBILE */
@media (max-width: 767px) {
  #homepage {
    overflow: visible;
  }
  #homepage .hero .introduction .title {
    font-size: 40px;
  }
  #homepage .hero .introduction .description {
    font-size: 14px;
  }
  #homepage .hero .introduction .description small {
    font-size: 11px;
  }
  #homepage .homepage-photo {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: bottom center;
    right: -200px;
    bottom: 0;
  }
  #homepage .footer-cta .latests .title {
    font-size: 8px;
  }
  #homepage .footer-cta .latests .post-title {
    font-size: 12px;
  }
  #homepage .footer-cta .contact {
    position: fixed;
    right: 0;
  }
  #homepage .footer-cta .contact li {
    font-size: 16px;
    height: 50px;
  }
  #homepage .footer-cta .contact li a {
    padding: 5px 20px;
  }
  #homepage .footer-cta .contact li.cta {
    min-width: 100px;
  }
  #homepage .footer-cta .contact li.cta .text {
    display: none;
  }
  #homepage .footer-cta .contact li.cta svg {
    margin: 0;
  }
}
/* EXTRA SMALL */
@media (max-width: 575px) {
  #homepage .hero .introduction .title {
    font-size: 50px;
  }
  #homepage .hero .introduction .description {
    font-size: 16px;
  }
  #homepage .hero .introduction .description small {
    font-size: 12px;
  }
  #homepage .homepage-photo {
    width: 110%;
    height: 100%;
    background-size: cover;
    background-position: left center;
    right: -150px;
    bottom: 0;
  }
  #homepage .footer-cta .latests .title {
    font-size: 16px;
  }
  #homepage .footer-cta .latests .post-title {
    font-size: 14px;
  }
  #homepage .footer-cta .contact {
    position: fixed;
    right: 0;
  }
  #homepage .footer-cta .contact-row {
    flex-direction: column;
    align-items: flex-end;
  }
  #homepage .footer-cta .contact li {
    font-size: 21px !important;
    height: unset;
    width: 60px;
    align-items: center;
    justify-content: center;
  }
  #homepage .footer-cta .contact li a {
    padding: 15px 15px;
  }
  #homepage .footer-cta .contact li.cta {
    min-width: 60px;
  }
  #homepage .footer-cta .contact li.cta .text {
    display: none;
  }
  #homepage .footer-cta .contact li.cta svg {
    width: 28px;
    height: 28px;
  }
}
/* EXTRA EXTRA SMALL */
@media (max-width: 376px) {
  #homepage .hero .introduction .title {
    font-size: 35px;
  }
  #homepage .hero .introduction .description {
    font-size: 12px;
  }
  #homepage .hero .introduction .description small {
    font-size: 8px;
  }
  #homepage .homepage-photo {
    width: 120%;
    height: 100%;
    background-size: cover;
    background-position: left center;
    right: -150px;
    bottom: 0;
  }
  #homepage .footer-cta {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #homepage .footer-cta .latests {
    padding-left: 20px;
  }
  #homepage .footer-cta .latests .title {
    font-size: 10px;
  }
  #homepage .footer-cta .latests .post-title {
    font-size: 10px;
  }
  #homepage .footer-cta .contact {
    position: fixed;
  }
  #homepage .footer-cta .contact-row {
    flex-direction: column;
    align-items: flex-end;
  }
  #homepage .footer-cta .contact li {
    font-size: 12px;
    height: unset;
    width: 50px;
    align-items: center;
    justify-content: center;
  }
  #homepage .footer-cta .contact li a {
    padding: 10px 10px;
  }
  #homepage .footer-cta .contact li.cta {
    min-width: unset;
    font-size: 12px;
  }
  #homepage .footer-cta .contact li.cta a {
    padding: 10px;
  }
  #homepage .footer-cta .contact li.cta .text {
    display: none;
  }
  #homepage .footer-cta .contact li.cta svg {
    width: 25px;
    height: 25px;
  }
}/*# sourceMappingURL=main.css.map */