<% include partials/header %>

<div id="container">

    <h1>The Posts Page</h1>

    <!-- Loop versi 1
        <% for(var i = 0; i < postsVar.length; i++){ %>
        <li>
            <%= postsVar[i].title %> - <strong><%= postsVar[i].author %></strong>
        </li>
    <% }; %> -->

    <div id="list">
    <!-- Loop versi 2 -->
    <% postsVar.forEach(function(pos){ %>
        <li>
            <%= pos.title %> - <strong><%= pos.author %></strong>
        </li>   
    <% }); %>
    </div>
</div>

<% include partials/footer %>
